.post-detail {
  display: flex;
}

.post-detail img {
  height: 100vh;
  width: auto;
}

.post-detail .text {
  padding: 2.5rem;
  color: #eee;
}

.post-detail .text p {
  line-height: 2rem;
}

@media screen and (max-width: 800px),
  screen and (min-width: 993px) and (max-width: 1150px) {
  .post-detail {
    flex-direction: column;
  }

  .post-detail img {
    width: 100%;
    height: auto;
  }
}

@media screen  and (min-width: 1150px) {
  .post-detail .text {
    padding: 3.5rem;
  }
}
