<section class="comment-section">
  <h3>comments</h3>
  <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <button>POST COMMENT</button>
  </form>
  <ul>
    {% if post.comments.all %}
      {% for comment in post.comments.all|dictsortreversed:"date" %}
        <li>
          <h4>{{ comment.name }}</h4>
          <p>{{ comment.message|linebreaksbr }}</p>
        </li>
      {% endfor %}
    {% else %}
      <p class="no-comment">No comments yet!</p>
    {% endif %}
  </ul>
</section>
