<nav class="w3-sidebar w3-bar-block w3-collapse w3-top w3-center"
     id="mySidebar">
  <br />
  <a href={% url "home-page" %} style="text-decoration:none;">
    <h3 class="w3-padding-64 w3-center">
      <b>DJANGO
        <br />
      BLOG</b>
    </h3>
  </a>
  <p style="padding:0px 3rem; line-height:2rem;">
    This blog is created
    <br>
    by
    <a href="https://github.com/mitinull">Mitinull</a>
    <br>
    to learn
    <a href="https://www.djangoproject.com/">Django</a>.
  </p>
  <span onclick="w3_close()" class="w3-hide-large" id="close">CLOSE</span>
</nav>

<header class="w3-container w3-top w3-hide-large w3-xlarge w3-padding-16"
        id="header">
  <a href={% url "home-page" %} style="text-decoration:none;">
    <span class="w3-left w3-padding">Django Blog</span>
  </a>
  <span class="w3-right"
        style="padding: 8px 16px;
               cursor: pointer"
        onclick="w3_open()">☰</span>
</header>

<div class="w3-overlay w3-hide-large w3-animate-opacity"
     onclick="w3_close()"
     style="cursor: pointer"
     title="close side menu"
     id="myOverlay"></div>
