{% extends "base.html" %}

{% load static %}

{% block page_title %}
  {{ post.title }}
{% endblock page_title %}

{% block page_head %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Raleway" />
  <link rel="stylesheet" href={% static "blog/blog.css" %}>
  <link rel="stylesheet" href={% static "blog/header.css" %}>
  <link rel="stylesheet" href={% static "blog/post-detail.css" %}>
{% endblock page_head %}

{% block page_body %}
  {% include "blog/header.html" %}
  <main class="w3-main">
    <!-- Push down content on small screens -->
    <div class="w3-hide-large nav-space"></div>
 
    <div class="post-detail">
      <img src="{{ post.image.url }}"
           width="1000px"
           height="1500px"
           alt="{{ post.title }}" />
      <div class="text">
        <h1>{{ post.title }}</h1>
        <div>
          <span>Photographer:</span>
          <span>{{ post.photographer }}</span>
        </div>
        <p>{{ post.content|linebreaks }}</p>

        <form action="{% url "post-like" slug=post.slug %}" method="post">
          {% csrf_token %}
          {% if liked %}
            <input type="hidden" name="liked" value="false">
            <button>Liked</button>
          {% else %}
            <input type="hidden" name="liked" value="true">
            <button>Like</button>
          {% endif %}
        </form>

        <div>
          <h3>tags:</h3>

          <ul class="tags">
            {% for tag in post.tags.all %}<li class="tag">{{ tag }}</li>{% endfor %}
          </ul>
        </div>

        {% include "blog/comments.html" %}

      </div>

    </div>
  </main>

  <script src={% static "blog/blog.js" %}></script>
{% endblock page_body %}
