{% extends "base.html" %}

{% load static %}

{% block page_title %}
  Post Title
{% endblock page_title %}

{% block page_head %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Raleway" />
  <link rel="stylesheet" href={% static "blog/blog.css" %}>
  <link rel="stylesheet" href={% static "blog/header.css" %}>
  <link rel="stylesheet" href={% static "blog/post-detail.css" %}>
{% endblock page_head %}

{% block page_body %}
  {% include "blog/header.html" %}
  <main class="w3-main">
    <!-- Push down content on small screens -->
    <div class="w3-hide-large nav-space"></div>
 
    <div class="post-detail">
      <img src="{% static "blog/images/azadi.jpg" %}" width="1000px" height="1500px" alt="Azadi Tower" />
      <div class="text">
        <h1>Azadi Tower</h1>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat magni consequatur praesentium, temporibus fugiat amet repellendus velit? Suscipit, accusamus odio.
        </p>
        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat magni consequatur praesentium, temporibus fugiat amet repellendus velit? Suscipit, accusamus odio. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore a sed vel, id ipsa consequatur?
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. At, id deleniti aperiam repudiandae dignissimos et reprehenderit ipsum, natus commodi nisi doloremque odio iste expedita quis suscipit est libero quisquam corporis!
        </p>
      </div>
    </div>
  </main>

  <script src={% static "blog/blog.js" %}></script>
{% endblock page_body %}
