{% extends "base.html" %}

{% load static %}

{% block page_title %}
  {{ post.title }}
{% endblock page_title %}

{% block page_head %}
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Raleway" />
  <link rel="stylesheet" href={% static "blog/blog.css" %}>
  <link rel="stylesheet" href={% static "blog/header.css" %}>
  <link rel="stylesheet" href={% static "blog/post-detail.css" %}>
{% endblock page_head %}

{% block page_body %}
  {% include "blog/header.html" %}
  <main class="w3-main">
    <!-- Push down content on small screens -->
    <div class="w3-hide-large nav-space"></div>
 
    <div class="post-detail">
      <img src="{% static "blog/images/"|add:post.image %}" width="1000px" height="1500px" alt="Azadi Tower" />
      <div class="text">
        <h1>{{ post.title }}</h1>
        <p>{{ post.content|linebreaks }}</p>
 
      </div>
    </div>
  </main>

  <script src={% static "blog/blog.js" %}></script>
{% endblock page_body %}
